[submodule "mopidy-api-explorer"]
	path = mopidy-api-explorer
	url = https://github.com/dz0ny/mopidy-api-explorer.git
[submodule "mopidy-mobile"]
	path = mopidy-mobile
	url = https://github.com/tkem/mopidy-mobile.git
[submodule "moped"]
	path = mopidy-moped
	url = https://github.com/martijnboland/moped.git
[submodule "mopidy-mopify"]
	path = mopidy-mopify
	url = https://github.com/dirkgroenen/mopidy-mopify.git
[submodule "Mopidy-MusicBox-Webclient"]
	path = mopidy-musicbox-webclient
	url = https://github.com/woutervanwijk/Mopidy-MusicBox-Webclient.git
[submodule "mopidy-simple-webclient"]
	path = mopidy-simple-webclient
	url = https://github.com/xolox/mopidy-simple-webclient.git
[submodule "libmopiqy"]
	path = libmopiqy
	url = https://github.com/AlexandrePTJ/libmopiqy.git
[submodule "mopidy-evtdev"]
	path = mopidy-evtdev
	url = https://github.com/liamw9534/mopidy-evtdev.git
[submodule "mopidy-mpris"]
	path = mopidy-mpris
	url = https://github.com/mopidy/mopidy-mpris.git
[submodule "mopidy-notifier"]
	path = mopidy-notifier
	url = https://github.com/sauberfred/mopidy-notifier.git
[submodule "mopidy-scrobbler"]
	path = mopidy-scrobbler
	url = https://github.com/mopidy/mopidy-scrobbler.git
[submodule "mopidy-touchscreen"]
	path = mopidy-touchscreen
	url = https://github.com/9and3r/mopidy-touchscreen.git
[submodule "mopidy-ttsgpio"]
	path = mopidy-ttsgpio
	url = https://github.com/9and3r/mopidy-ttsgpio.git
[submodule "mopidy-webhooks"]
	path = mopidy-webhooks
	url = https://github.com/paddycarey/mopidy-webhooks.git
